# R history files
.Rhistory

# Data files
*.csv
*.csv.gz
*.tsv.gz
*.tsv
*.work

# BLAST output files
*.blastdb.*
*.blastn.*

# Python compiled files and directories
.ipynb_checkpoints/
__pycache__/
*.pyo
*.pyd
*.pyc