# R history files
.Rhistory

# Data files
*.csv
*.csv.gz
*.tsv.gz
*.tsv
*.work
# BLAST output files
*.blastdb.*
*.blastn.*
*.fa
*.tar.gz
*.whl

*.egg-info

Makefile
make.*

_build
_static
_templates
tutorial/
*.ipynb

# Python compiled files and directories
.ipynb_checkpoints/
__pycache__/
*.pyo
*.pyd
*.pyc

# readthedocs
docs/build/
data/example_test_split.filtered.fa
